* {
    box-sizing: border-box;
    font-size: 1.02em;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url(https://wallpaperaccess.com/full/534834.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-color: antiquewhite; */
}

h1 {
    font-size: 2em;
    margin-bottom: 4%;
}

h2 {
    background-color: cornflowerblue;
    font-size: 1.5em;
    margin: 0 auto;
    width: 200px;
}

html {
    height: 100vh;
}

button {
    font-size: 0.8em;
    margin: 5px auto;
    padding: 0 2px;
}

.header {
    grid-area: h;
}

.header-img {
    margin-top: 2%;
    width: 125px;
}

.form {
    grid-area: f;
    margin-bottom: 4%;
    width: 100%;
}

.to-eat {
    grid-area: b;
    margin-bottom: 10%;
}

.eaten {
    grid-area: e;
}

ul {
    margin: 2% auto;
}

.to-eat li {
    background-color: aquamarine;
    width: max-content;
    padding: 1% 3%;
    margin: 2% auto;
    list-style: none;
}

.eaten li {
    background-color: lightgoldenrodyellow;
    width: max-content;
    padding: 1% 3%;
    margin: 2% auto;
    list-style: none;
}

@media screen and (min-width: 800px) {
    body {
        display: grid;
        grid-template-areas: 'h h'
                             'f f'
                             'b e';
        grid-template-rows: 250px 100px auto;
    }
    h1 {
        margin-bottom: 2%;
    }
}