<li>
	{{description}}

	{{#if eaten}}
		<button class="delete-burger" data-id="{{id}}">
			delete
		</button>
	{{else}}
		<button class="eat-burger" data-id="{{id}}">
			eat me!
		</button>
	{{/if}}

	
</li>